/* global */
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

body {
    background-color: rgb(11, 10, 25);
    color: white;
    padding: 32px 32px;
}

.dashboard-app-wrapper{
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

/* navbar */
.nav-section {
    width: 70px;
    height: 640px;
    background-color:#24262b ;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-left: 3px solid cornflowerblue;
    border-radius: 16px;
    margin-right: 48px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 3rem;
    padding: 3px 5px;
    border-radius: 15px;
}

.logo ion-icon {
    font-size: 30px;
    color: cornflowerblue;
}

.nav-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.nav-menu li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #9ca3af;
    text-decoration: none;
    padding: 2px;
    border-radius: 12px;
    transition: all 0.2s;
}

.nav-menu ion-icon{
    font-size: 20px;
    margin-bottom: 4px;
}

.nav-menu span {
    font-size: 11px;
    font-weight: 500;
}

/* main */

/* search bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #24262b;
    padding: 10px 15px;
    border-radius: 13px;
    border-left: 3px solid cornflowerblue;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 16;
    width: 800px;
    background: #24262b;
}

.search-bar ion-icon {
  font-size: 24px;
  color: cornflowerblue;
}

/* current weather */
.current-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 20px 32px;
}

.city-name {
    font-size: 36px;
    font-weight: 700;
}

.weather-desc{
    font-size: 18px;
    font-weight: 500;
    color: #9ca3af;
}

.weather-temp {
    margin-top: 3rem;
    font-size: 30px;
    font-weight: 600;
}

.weather-icon {
    margin-left: 25rem;
}

.weather-icon ion-icon {
    font-size: 180px;
    color: cornflowerblue;
}

/* today's forecast */
.todays-forecast {
   background-color: #24262b;
   border-radius: 15px;
   text-align: left;
   padding: 20px 0px 5px 25px;
   border-left: 4px cornflowerblue solid;
}

.todays-forecast h3{
    font-size: 18px;
    margin-bottom: 1rem;
}

.forecast-list {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forecast-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-right: 2px solid grey;
    gap: 15px;
}

.forecast-item-last {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.air-conditions {
    background-color: #24262b;
    border-radius: 15px;
    text-align: left;
    margin-top: 15px;
    padding: 45px 25px;
    border-left: 4px cornflowerblue solid;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.condition-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.condition-top button{
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

.conditions-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}